@media print {
  #sidebar,
  .post-nav.clearfix,
  .related-posts,
  .commentwrap,
  .post-meta.entry-meta,
  .module-buttons,
  .post-image {
    display: none;
  }
  @page {
    margin-left: 170px;
  }
  /* to change the order of the date and the fancy heading title */
  .post-content-inner {
    display: flex;
    flex-flow: column-reverse;
    margin-top: -200px;
  }
  .post-title.entry-title.fancy-heading {
    order: 1;
  }
  .post-date-wrap {
    order: 1;
  }
}
